.container{
    width: 100%;
    height: 100vh;
    margin-top: 30px;
  

}
.containerChart{
    display: flex;
    justify-content: center;
    align-items: center;
   
}
.chartContainer{
    margin-top: 20px;
    width: 800px;
    height: 500px;
}
.dataContainer{
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 20px;
    padding: 20px;
}
.dataItem{
    display: flex;
    justify-content: space-between;
    align-items:center;
    gap: 10px;
    padding: 10px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
    width: 230px;
    height: 100px;
}
              
.icon, .icon2, .icon3 {
    font-size: 30px;
    padding: 10px;
    border-radius: 5px; 
    width: 60px;
    height: 60px;
    text-align: center;
}

.icon {
    background-color: #8fc6f7;
    color: #1b90f6;
}

.icon2 {
    background-color: #eb99f9;
    color: #e032fe;
}

.icon3 {
    background-color: #f1da95;
    color: #f7bf17;
}